@import url('https://fonts.googleapis.com/css2?family=Saira:wght@300;400;600;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Saira', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif, cursive !important;
  line-height: 1.6;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  /* background: linear-gradient(28deg, #18004A, black); */
}
body{
  background: #000;
  height: 100%;
}
@media (min-width: 0px){
  .homo-container {
    margin: 0 auto 0 auto;
    max-width: 360px;
    padding: 0 1rem;
  }
}
@media (min-width: 414px){
  .homo-container {
    margin: 0 auto 0 auto;
    max-width: 414px;
    padding: 0px 1rem;
  }
}
@media (min-width: 540px) {
  .homo-container {
    margin: 0 auto 0 auto;
    max-width: 540px;
    padding: 0px 20px;
  }
}
@media (min-width: 640px){
  .homo-container {
    margin: 0 auto 0 auto;
    max-width: 640px;
    padding: 0px 2rem;
  }
}
@media (min-width: 768px){
  .homo-container {
    margin: 0 auto 0 auto;
    max-width: 768px;
    padding: 0px 2rem;
  }
}
@media (min-width: 992px){
  .homo-container {
    margin: 0 auto 0 auto;
    max-width: 992px;
    padding: 0 3rem;
  }
}
@media (min-width: 1024px) {
  .homo-container {
    margin: 0 auto 0 auto;
    max-width: 1024px;
    padding: 0 4rem;
  }
}

@media (min-width: 1280px) {
  .homo-container {
    max-width: 1280px;
    margin: 0 auto 0 auto;
    padding: 0 5rem;
  }
}
@media (min-width: 1440px) {
  .homo-container {
    max-width: 1440px;
    margin: 0 auto 0 auto;
    padding: 0 5rem;
  }
}



.section-content {
  margin-top: 100px;
}



/*// tmp fix tailwind bug */


.slick-prev{
  display: none !important;
}
body .slick-next{
  display: none !important;
}